.page_container {
    width: 100%;
    padding: 40px;
    margin: auto;
}

.page_container h3{
    font-family: BrushScript;
    font-size: 3em;
    text-decoration: none;
    text-align: center;
}

.contacts_container {
    margin: auto;
    position: relative;
    text-align: center;
}

.contact {
	vertical-align: center;
}

.contact p{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 15px;
}

.contact image{
	display: inline-block;
	vertical-align: middle;
}
